.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:5rem;
}
.post-form__input {
    height: 5rem;
    width:90%;
    margin:$m-size;
    padding:$s-size;
    border:1px $dark-blue solid;
    border-radius: $s-size;

}

.post-form__button {
    padding:$s-size;
    border-radius: $s-size;
    width: 80%;
    background-color: $dark-blue;
    color:white;
    font-size:600;
}
.edit-post-button{
    margin: 1rem auto;
}

