.read {
    height: 100%;
    background-color: whitesmoke;
    
}
.read-combined {
    background-color: whitesmoke;
    padding:2rem;
    color: $dark-grey;
}
.read-header {
    background: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:$off-white;
    margin: 0 auto;
}

.read-body {
    
 font-size: 1.8rem;
 height: 500px;
}

.read-header-link {
    color: white;
    text-decoration: none;
}
.author {
    font-weight: 700;
}
